<% layout("/layouts/boilerplate")%>
<body>
    
    <div class="row new-page">
        <div class="col-8 offset-2 new-container">
            <br/>
        <h2><b>Create New Listing</b></h2>
        <br/>
        <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label" >Title</label>
            <input name="listing[title]" placeholder="Add a catchy title" class="form-control" required/>
            <div class="valid-feedback">title looks good!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea  name="listing[description]" placeholder="enter enter description" class="form-control" required></textarea> 
            <div class="invalid-feedback">please enter a short description</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input name="listing[image]" class="form-control" type="file"/>
            required
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="price" class="form-label">price</label>
            <input name="listing[price]" placeholder="1200" class="form-control"  required/>
            <div class="invalid-feedback">price should be valid!</div>
            </div>
            <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label>
            <input  name="listing[country]" placeholder="india" class="form-control" required/>
            <div class="invalid-feedback">country should be valid!</div>
            </div>

        </div>
        
        <div class="mb-3">
             <label for="location" class="form-label">location</label>
            <input  name="listing[location]" placeholder="enter location" class="form-control" required/>
            <div class="invalid-feedback">loaction should be valid</div>
        </div>
        
        
        <button class="btn btn-dark add-btn">Add</button>
        <br/><br/>
    </form>
    </div>
    </div>
    
    
</body>
