<% layout("/layouts/boilerplate")%>



<div class="row mt-3 form-page">
    <h1 class="form-heading col-6 offset-3">Login</h1>
    <div class="col-6 offset-3 form-container">
        <form method="post" action="/login" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label" >Username</label>
                <input name="username" id="username" class="form-control" required/>
                
            </div>
            
            <div class="mb-3">
                <label for="password" class="form-label" >Password</label>
                <input name="password" id="password" type="password" class="form-control" required/>
                
            </div>

            <button class="btn btn-success form-btn">login</button>
        </form>
    </div>
</div>
